<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/form-style.css" type="text/css" rel="stylesheet">
<title><%=title%></title>
<script>
function goBack() {
    window.history.back();
}
</script>
</head>
<body>
<div class="form-style">
<h1><%=title%></h1>
<p><%=msg%></p>
<button onclick="goBack()">Back</button>
</div>
</body>
</html>